@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --OutFit: 'Outfit', sans-serif;
  --Ovo: 'Ovo', 'serif';
}

* {
  font-family: 'Outfit', sans-serif;
}
.font-outfit{
  font-family: var(--OutFit);
}
.font-ovo{
  font-family: var(--Ovo);
}
