@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --lighHover: '#fcf4ff';
  --darkHover: '#2a004a';
  --darkTheme: '#11001F';
  --OutFit: 'Outfit', sans-serif;
  --Ovo: 'Ovo', 'serif';
}

* {
  font-family: 'Outfit', sans-serif;
}
.font-outfit{
  font-family: var(--OutFit);
}
.font-ovo{
  font-family: var(--Ovo);
}
.hover-bg-lighHover:hover {
  background-color: var(--lighHover) !important;
}